/*
 * Font declarations
 */
@font-face
  font-family: "Titillium Web"
  font-weight: 200
  src: url("Titillium_Web/TitilliumWeb-ExtraLight.ttf")

@font-face
  font-family: "Titillium Web"
  font-weight: 200
  font-style: italic
  src: url("Titillium_Web/TitilliumWeb-ExtraLightItalic.ttf")

@font-face
  font-family: "Titillium Web"
  font-weight: 300
  src: url("Titillium_Web/TitilliumWeb-Light.ttf")

@font-face
  font-family: "Titillium Web"
  font-weight: 300
  font-style: italic
  src: url("Titillium_Web/TitilliumWeb-LightItalic.ttf")

@font-face
  font-family: "Exo 2"
  font-weight: normal
  src: url("Exo_2/Exo2-Regular.ttf")

@font-face
  font-family: "Exo 2"
  font-weight: normal
  font-style: italic
  src: url("Exo_2/Exo2-Italic.ttf")

@font-face
  font-family: "Exo 2"
  font-weight: bold
  src: url("Exo_2/Exo2-Bold.ttf")

@font-face
  font-family: "Exo 2"
  font-weight: bold
  font-style: italic
  src: url("Exo_2/Exo2-BoldItalic.ttf")
