splashColor = #5082ef
aboutColor = #ffc608
detailColor = #fc0a7a
projectsColor = #8600b7
body
  font-size 16pt
  font-family "Exo 2", sans-serif
  font-weight normal
  width 90%
  font-size 1.1em
  max-width 700px
  margin-left auto
  margin-right auto
  display block
  line-height 1.45em
  letter-spacing 0.01em

h1, h2, h3, h4, h5, h6
  font-family "Titillium Web", sans-serif
  font-weight 300

a
  text-decoration none
  color detailColor

article
  img
    width 100%

main
  padding-bottom 10%
.options
  list-style none
  padding-left 0
  text-align right
  li
    cursor pointer
    user-select none
    color white
    margin 0
    margin-bottom 12px
    div
      display: inline-block
      padding 12px
      background detailColor
  li:active div
      background #b10956

.userreply
  text-align right
  padding 12px
  border-right 4px solid detailColor