splashColor = #5082ef
aboutColor = #ffc608
detailColor = #fc0a7a
projectsColor = #8600b7
body
  font-size 16pt
  font-family "Exo 2", sans-serif
  font-weight normal
  width 90%
  font-size 1.1em
  max-width 700px
  margin-left auto
  margin-right auto
  display block
  line-height 1.45em
  letter-spacing 0.01em

h1, h2, h3, h4, h5, h6
  font-family "Titillium Web", sans-serif
  font-weight 300

a
  text-decoration none
  color detailColor

article
  img
    width 100%